body {
    background-color: rgb(68, 71, 110);
}

#center_div {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;

    background-color: rgba(240, 248, 255, 0.329);
    border-radius: 17px;
    padding: 10px;
}

.list-title {
    margin-bottom: 0px;
}
ul {
    margin-top: 7px;
}
li {
    margin-bottom: 15px;
}
* {
    color: white;
}
button, a {
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px;
}