@font-face {
    font-family: 'libertinus';
    src: url("./libertinus_font.ttf");
}

body.day {
    background: #fff;
    color: #000;
}
body.night {
    background: #000;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#clock {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 150px;
    font-family: libertinus;
    font-weight: bold;
}

#clock_container {
    display: flex;
    flex-direction: column;

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-family: libertinus;
    font-weight: bold;
}

input[type="checkbox"] {
    accent-color: #000;
}

#home_btn {
    margin: 10px;
    background-color: rgb(32, 32, 32);
    padding: 7px;
    border-radius: 10%;
    width: fit-content;
}