/* Hide arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    ::-webkit-inner-spin-button {
        display: none;
    }
}

body {
    background-image: url("../res/wallpaper.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    color: #a4a4a482;
}

.output {
    background-color: #00000000;
    backdrop-filter: blur(8px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #a4a4a482;
    font-size: 2em;
    margin: 10px;
    border-radius: 20px;
    border: solid 3px #a4a4a482;
}

button {
    background-color: #00000000;
    backdrop-filter: blur(8px);
    color: #a4a4a482;
    font-size: 2em;
    margin: 3px;
    border-radius: 20px;
    border-radius: 50% 20%;
    border: solid 3px #a4a4a482;
    cursor: url('res/cursor.cur'), auto;

}

.parent {
    background-color: #00000000;
    backdrop-filter: blur(8px);
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    padding: 20px;
    border: solid 3px #a4a4a482;
    /* width: 35%; */
    width: clamp(300px, 35%, 500px);
    height: 70%;
    cursor: url('res/cursor.cur'), auto;

}

.keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 15px;
    cursor: url('res/cursor.cur'), auto;

}

.button-zero {
    height: 37px;
    width: 70px;
    cursor: url('res/cursor.cur'), auto;

}

.methods {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-radius: 20px;
    padding: 10px;
    border: solid 3px #a4a4a482;
    cursor: url('res/cursor.cur'), auto;

}

#m0,
#m2,
#m3,
#m1 {
    /* height: 10px; */
    width: 40px;
    /* height: 100px; */
}

.numbers {
    border: #a4a4a482 solid 3px;
    border-radius: 20px;
    /* background-color: #00000000; */
    /* backdrop-filter: blur(8px); */
    padding: 10px;
}

#m4 {
    width: 200px;
}

.setLocation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 10px; */
    /* width: 300px; */
}

.space-on-top {
    border: solid 53px #00ff0000;
    padding: 10px;
    /* cursor: url('Elite Horizontal.cur'),auto; */
}