@font-face {
    font-family: 'ZalandoSansBold';
    src: url('../res/zalando_sans_bold.ttf') format('truetype');
}
@font-face {
    font-family: 'dmserif_regular';
    src: url('../res/dm_serif_display_regular.ttf') format('truetype');
}
#title, a, .mainTitle {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(to right, #4F4F7D, #423f4b);
    padding: 10px;
    border-radius: 10px;
    color: #dadada;
    border: #dadada 1px solid;
    max-width: 500px;
}
#title, a {
    font-family: 'ZalandoSansBold', sans-serif;
}
body {
    align-items: center;
    background-color: rgb(57, 59, 68);
}
.mainTitle {
    font-family: 'dmserif_regular', sans-serif;
}