body.day {
    background: #fff;
    color: #000;
}
body.night {
    background: #000;
    color: #fff;
}
img {
    max-height: 600px;
    height: 300px;
}
button, a {
    margin: 5px;
    border-radius: 8px;
    background: hsl(50, 4%, 68%);
    padding: 3px;
    border: 2px solid black;
    color: black;
    font-size: large;
}
button:hover,a:hover {
    background: hsl(50, 4%, 78%);
}
button:hover,a:active {
    background: hsl(50, 4%, 88%);
}